adafruit-circuitpython-servokit
adafruit-circuitpython-pca9685
adafruit-blinka
gpiozero
pigpio
adafruit-circuitpython-motor
opencv-python
picamera2
ikpy
numpy
flask
requests
python-dotenv
google-cloud-vision